<div class="container">
  <div class="row"><img src="assets/archetype_seeker.png" alt="archetype_seeker"></div>
  <div class="row"><img src="assets/top3values.png" alt="top3values"></div>
  <div class="row">
    <div class="col-sm-3"><img src="assets/ValueBtn_independence_off.png" alt="independence"></div>
    <div class="col-sm-3"><img src="assets/ValueBtn_contribution_off.png" alt="contribution"></div>
    <div class="col-sm-3"><img src="assets/ValueBtn_spirituality_off.png" alt="spirituality"></div>
    <div class="col-sm-3"><img src="assets/ValueBtn_enjoyment_off.png" alt="enjoyment"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"><img src="assets/ValueBtn_education_off.png" alt="education"></div>
    <div class="col-sm-3"><img src="assets/ValueBtn_security_off.png" alt="security"></div>
    <div class="col-sm-3"><img src="assets/ValueBtn_creativity_off.png" alt="creativity"></div>
    <div class="col-sm-3"><img src="assets/ValueBtn_connection_off.png" alt="connection"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"><img src="assets/ValueBtn_adventure_off.png" alt="adventure"></div>
    <div class="col-sm-3"><img src="assets/ValueBtn_knowledge_off.png" alt="knowledge"></div>
    <div class="col-sm-3"><img src="assets/ValueBtn_determination_off.png" alt="determination"></div>
    <div class="col-sm-3"><img src="assets/ValueBtn_simplicity_off.png" alt="simplicity"></div>
  </div>
</div>
  