.archetype-seeker{
    margin-left: 23%;
    margin-bottom: 2%;
}

.top3values {
    margin-bottom: 5%;
    margin-left: 15%;
}

.archetype-wrapper {
    margin-left: 8.5%;
}

.reset {
    margin-top: 1%;
    margin-left: 1%;
}

.show-me {
    margin-top: 3%;
    margin-left: 30%;
}

.col-sm-2 {
    margin-right: 5%;
    margin-bottom: 1%
}

#recycle {
    margin-left: 15%;
}


.container {
    height: 768px;
    width: 1024px;
    margin: 0;
    padding-left: 5%;
    padding-top: 6%;
    background-image: url('../../assets/images/pattern.png');
    overflow: hidden;
}

.topline {
    position: absolute;
    border: 1px dashed lightgrey;
    width: 625px;
    height: 150px;
    margin-left: 70px;
    margin-top: 65px;
    z-index: -100;



}

.midline{ 
    position: absolute;
    border-left: 1px dashed lightgrey;
    border-right: 1px dashed lightgrey;
    border-bottom: none;
    border-top: 1px dashed lightgrey;
    width: 210px;
    height: 300px;
    margin-left: 275px;
    margin-top: -230px;
    z-index: -100;
    


}

.bottomline{ 
    position: absolute;
    border-left: 1px dashed lightgrey;
    border-right: 1px dashed lightgrey;
    border-bottom: 1px dashed lightgrey;
    border-top: none;
    width: 625px;
    height: 150px;
    margin-left: 70px;
    margin-top: -230px;
    z-index: -100;


}

