<div class="container">
  <div class="archetype-seeker"><img src="assets/images/archetype-seeker.png" alt="archetype-seeker"></div>
  <div class="top3values"><img src="assets/images/top3values.png" alt="top3values"></div>

  <div class="col-sm-12 archetype-wrapper">
      <div class="row">
          <div class="col-sm-2" (click)=selectItem($event)><img src="assets/images/independence_off.png" id="Independence" alt="independence"></div>
      

          <div class="col-sm-2" (click)=selectItem($event)><img src="assets/images/contribution_off.png" id="Contribution" alt="contribution"></div>
          <div class="col-sm-2" (click)=selectItem($event)><img src="assets/images/spirituality_off.png" id="Spirituality" alt="spirituality"></div>
          <div class="col-sm-2" (click)=selectItem($event)><img src="assets/images/enjoyment_off.png" id="Enjoyment" alt="enjoyment"></div>
        </div>
        <div class="row">
          <div class="col-sm-2" (click)=selectItem($event)><img src="assets/images/education_off.png" id="Education" alt="education"></div>

          
          
          <div class="col-sm-2" (click)=selectItem($event)><img src="assets/images/security_off.png" id="Security" alt="security"></div>
          <div class="col-sm-2" (click)=selectItem($event)><img src="assets/images/creativity_off.png" id="Creativity" alt="creativity"></div>
          <div class="col-sm-2" (click)=selectItem($event)><img src="assets/images/connection_off.png" id="Connection" alt="connection"></div>
        </div>
        <div class="row">
          <div class="col-sm-2" (click)=selectItem($event)><img src="assets/images/adventure_off.png" id="Adventure" alt="adventure"></div>
          <div class="col-sm-2" (click)=selectItem($event)><img src="assets/images/knowledge_off.png" id="Knowledge" alt="knowledge"></div>
          <div class="col-sm-2" (click)=selectItem($event)><img src="assets/images/determination_off.png" id="Determination" alt="determination"></div>
          <div class="col-sm-2" (click)=selectItem($event)><img src="assets/images/simplicity_off.png" id="Simplicity" alt="simplicity"></div>
        </div>
        <div class="row">
          <div class="col-sm-3 reset" (click)=resetQuiz()><img src="assets/images/RESET.png" alt="reset"></div>
          <div class="col-sm-3 show-me" (click)=showMeResult()><img src="assets/images/Show_Btn.png" alt="show-me"></div>
        </div>
  </div>
</div>
