.archetype-seeker{
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.top3values {
    margin-bottom: 5%;
    margin-left: 2%;
}

.archetype-wrapper {
    margin-left: 6%;
}

.reset {
    margin-top: 3%;
    margin-left: 17.5%;
}

.show-me {
    margin-top: 3%;
}

.col-sm-2 {
    margin-right: 5%;
    margin-bottom: 1%
}
