<div class="col-sm-12 header" style="text-align:center">
    <img src="assets/header.png">
  </div>
  <div class="row">
    <div class="col-sm-1 line">
        <img src="assets/Line.png" alt="line">
    </div>
    <div class="col-sm-6 type" style="text-align:center" alt="whats-my-type">
        <img src="assets/whats_my_type.png">
    </div>
  </div>
  <a routerLink="/archetype-seeker" routerLinkActive="active">
    <div class="col-sm-12 begin-btn " style="text-align:center">
      <img src="assets/Begin_Btn.png">
    </div>
  </a>
  <div class="col-sm-12 logo" style="text-align:center">
    <img src="assets/logo.png">
  </div>
  
  