<!-- <div class="col-sm-12 header" style="text-align:center">
    <img src="assets/images/header.png">
  </div> -->
    <div class="type" style="text-align:center" alt="whats-my-type">
        <img src="assets/images/whats-my-type.png">
    </div>
  <a routerLink="/archetype-seeker" routerLinkActive="active">
    <div class="begin-btn " style="text-align:center">
      <img src="assets/images/Begin.png">
    </div>
  </a>
  <div class="col-sm-12 logo" style="text-align:center">
    <img src="assets/images/logo.png">
  </div>
  
  