

<div style="text-align:center">
    <img width="300" src="assets/header.png">
  </div>
  <div class="col-md-8" style="text-align:center">
      <img width="300" src="assets/whats_my_type.png">
  </div>
  <!-- <div class="row">
      <div class="col-md-2" style="text-align:center">
        <img width="300" src="assets/Line.png">
      </div>
  
    </div> -->
  <div style="text-align:center">
    <img width="300" src="assets/Begin_Btn.png">
  </div>
  <div style="text-align:center">
    <img width="300" src="assets/logo.png">
  </div>
  
  