.header img{
    width: 100%;
}

.type {
    margin-bottom: 7.5%;
    padding-top: 20px;
}

.logo {
    margin-top: 25%;
}

.container {
    padding-top: 15%;
    background-image: url('../../assets/images/pattern.png');
    margin: 0;
    height: 768px;
    width: 1024px;
    overflow: hidden;
}
