.header img{
    width: 100%;
}

.type {
    margin-bottom: 5%;
    padding-top: 20px;
}

.logo {
    margin-top: 25%;
}

.container {
    padding-top: 20%;
    background-image: url('../../assets/images/pattern.png');
    margin: 0;
    height: 100%;
    width: 100%
}
